<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,944},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,943},{251,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,236}}</string>
                <key>sourceSize</key>
                <string>{251,236}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,485},{258,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,190}}</string>
                <key>sourceSize</key>
                <string>{258,190}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,292},{191,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,241}}</string>
                <key>sourceSize</key>
                <string>{191,241}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,677},{264,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,252}}</string>
                <key>sourceSize</key>
                <string>{264,252}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1057},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1019},{23,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,906},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,981},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,868},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,943},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,830},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,792},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,274},{8,12}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{8,12}}</string>
                <key>sourceSize</key>
                <string>{16,36}</string>
            </dict>
            <key>chang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1181},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>chang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1181},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>chang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,673},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>chang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,390},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1464},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>copyname.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1120},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,872},{486,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,246}}</string>
                <key>sourceSize</key>
                <string>{486,246}</string>
            </dict>
            <key>game_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,334},{152,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,54}}</string>
                <key>sourceSize</key>
                <string>{152,54}</string>
            </dict>
            <key>namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1999},{253,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,46}}</string>
                <key>sourceSize</key>
                <string>{253,46}</string>
            </dict>
            <key>nameguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,735},{312,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{312,76}}</string>
                <key>sourceSize</key>
                <string>{332,76}</string>
            </dict>
            <key>new_saver_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,956},{58,49}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{58,49}}</string>
                <key>sourceSize</key>
                <string>{136,67}</string>
            </dict>
            <key>num_..png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{6,6}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{6,6}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,222},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,284},{10,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,196},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,248},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,170},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,144},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,118},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,92},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,66},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,40},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>plaza_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{1344,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1344,96}}</string>
                <key>sourceSize</key>
                <string>{1344,96}</string>
            </dict>
            <key>room_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,582},{288,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,500}}</string>
                <key>sourceSize</key>
                <string>{288,500}</string>
            </dict>
            <key>room_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,292},{288,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,500}}</string>
                <key>sourceSize</key>
                <string>{288,500}</string>
            </dict>
            <key>room_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{288,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,500}}</string>
                <key>sourceSize</key>
                <string>{288,500}</string>
            </dict>
            <key>room_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,500}}</string>
                <key>sourceSize</key>
                <string>{288,500}</string>
            </dict>
            <key>sp_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1016},{66,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>sp_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{341,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,53}}</string>
                <key>sourceSize</key>
                <string>{341,53}</string>
            </dict>
            <key>top01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1368},{286,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,62}}</string>
                <key>sourceSize</key>
                <string>{286,62}</string>
            </dict>
            <key>top02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1337},{286,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,62}}</string>
                <key>sourceSize</key>
                <string>{286,62}</string>
            </dict>
            <key>top03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1080},{286,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,62}}</string>
                <key>sourceSize</key>
                <string>{286,62}</string>
            </dict>
            <key>top04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1049},{286,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,62}}</string>
                <key>sourceSize</key>
                <string>{286,62}</string>
            </dict>
            <key>txt_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,735},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>txt_jbdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,292},{155,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,40}}</string>
                <key>sourceSize</key>
                <string>{155,40}</string>
            </dict>
            <key>txt_least.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,390},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
            <key>zjh_loading_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1656},{318,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,176}}</string>
                <key>sourceSize</key>
                <string>{318,176}</string>
            </dict>
            <key>zjh_loading_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,419},{314,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,109}}</string>
                <key>sourceSize</key>
                <string>{314,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZJHRoom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5738764b83a132c54d449fceaa31171c$</string>
            <key>textureFileName</key>
            <string>ZJHRoom.png</string>
        </dict>
    </dict>
</plist>
