<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,164},{138,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{138,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>Joker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{138,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{138,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,390},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,927},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,946},{24,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,109},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,895},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,362},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,334},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,164},{28,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,803},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,775},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,747},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,719},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,306},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>hau_f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,808},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,430},{124,190}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{124,190}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_h11.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,798},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_h12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{124,190}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_h13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,418},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_hei11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,610},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_hei12.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,682},{124,188}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{124,188}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_hei13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,304},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_m11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_m12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,556},{124,188}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{124,188}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_m13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>large_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,241},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>large_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,167},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>large_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,320},{70,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>large_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,278},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,863},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,959},{24,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,81},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,831},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,250},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,222},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,137},{28,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,691},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,663},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,635},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,607},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,194},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,568},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,568},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,568},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{520,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd048682a11d61421e433a19a71e83e2:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
