<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Joker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,194},{138,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{138,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>Joker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{138,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{138,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,474},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,403},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,194},{46,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,486},{24,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,450},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,403},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,474},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,446},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,254},{28,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,458},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,370},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,381},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,383},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,446},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>hua_128_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,190},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_128_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,320},{124,188}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{124,188}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_128_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,194},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,128},{124,190}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{124,190}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_32_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,190},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_32_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,378},{124,188}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{124,188}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_32_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_64_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_64_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{124,190}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>hua_64_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,386},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>large_128.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,254},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>large_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,254},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>large_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,328},{70,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>large_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,328},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,446},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,254},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{46,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,437},{24,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,378},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,405},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,324},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,478},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,251},{28,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,313},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,405},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,324},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,474},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,441},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>small_128.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,463},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>small_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,440},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>small_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,438},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>small_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,450},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qznnpoker.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7318a7959e1831d1881cf5fdb2b9841f$</string>
            <key>textureFileName</key>
            <string>qznnpoker.png</string>
        </dict>
    </dict>
</plist>
