<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,440},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>bindtip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{845,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,436}}</string>
                <key>sourceSize</key>
                <string>{845,436}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,488},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,406},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>chip_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,945},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>desk_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,570},{210,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,134}}</string>
                <key>sourceSize</key>
                <string>{210,134}</string>
            </dict>
            <key>dz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,172},{157,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,38}}</string>
                <key>sourceSize</key>
                <string>{157,38}</string>
            </dict>
            <key>eff_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,917},{237,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,105}}</string>
                <key>sourceSize</key>
                <string>{237,105}</string>
            </dict>
            <key>eff_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,803},{230,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,109}}</string>
                <key>sourceSize</key>
                <string>{230,109}</string>
            </dict>
            <key>gameStatus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,570},{251,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,52}}</string>
                <key>sourceSize</key>
                <string>{251,52}</string>
            </dict>
            <key>gameStatus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,574},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>gameStatus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,520},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>gameStatus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,440},{637,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,78}}</string>
                <key>sourceSize</key>
                <string>{637,78}</string>
            </dict>
            <key>golden_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,917},{26,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,914},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>icon_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>p_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,758},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>p_icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,914},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>p_icon_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,676},{76,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>p_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,914},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>p_icon_help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,598},{76,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>p_icon_mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,829},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>p_icon_mute2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,520},{76,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>p_icon_sound3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,829},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>p_icon_sound4.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,520},{76,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>p_rule_shuoming9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{493,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,73}}</string>
                <key>sourceSize</key>
                <string>{493,73}</string>
            </dict>
            <key>p_txt_gameRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,126},{159,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,44}}</string>
                <key>sourceSize</key>
                <string>{159,44}</string>
            </dict>
            <key>pai_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,570},{231,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,54}}</string>
                <key>sourceSize</key>
                <string>{231,54}</string>
            </dict>
            <key>qznn_btn_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,324},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>silver_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,212},{26,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>surebtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,570},{257,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,91}}</string>
                <key>sourceSize</key>
                <string>{257,91}</string>
            </dict>
            <key>tou_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{122,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,166}}</string>
                <key>sourceSize</key>
                <string>{122,166}</string>
            </dict>
            <key>tou_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,212},{110,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{110,154}</string>
            </dict>
            <key>txt_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,983},{67,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,36}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>txt_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,440},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>userStatus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,440},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>wait_other2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,488},{427,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,100}}</string>
                <key>sourceSize</key>
                <string>{427,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NNGame.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f090d8de6fb53cdb0148133df47af84$</string>
            <key>textureFileName</key>
            <string>NNGame.png</string>
        </dict>
    </dict>
</plist>
