<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_wave_000_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{459,1},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{917,1},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1375,1},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{459,403},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{917,403},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1375,403},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1,805},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{459,805},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{917,805},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1375,805},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1,1207},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{459,1207},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{917,1207},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1375,1207},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1,1609},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{459,1609},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{917,1609},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1375,1609},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1,2011},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{459,2011},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{917,2011},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1375,2011},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1,2413},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{459,2413},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{917,2413},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1375,2413},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1,2815},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{459,2815},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{917,2815},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_wave_000_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,400}</string>
                <key>spriteSourceSize</key>
                <string>{456,400}</string>
                <key>textureRect</key>
                <string>{{1375,2815},{456,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wavesheet.png</string>
            <key>size</key>
            <string>{1832,3216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5498a1e26cac478cf38065b79b8e0ee:ca3cf9f359f634a3dd534a2d88fbe9a8:f345602229b61804ac9d0a4f37f9075a$</string>
            <key>textureFileName</key>
            <string>wavesheet.png</string>
        </dict>
    </dict>
</plist>
