<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>545.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{939,1791},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>546.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1435,901},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>547.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1435,767},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>548.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{1741,1081},{162,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>549.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{190,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{745,1791},{190,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>550.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{218,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{1695,1389},{218,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>551.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{1371,1713},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>552.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{274,278}</string>
                <key>spriteSourceSize</key>
                <string>{276,280}</string>
                <key>textureRect</key>
                <string>{{1619,1709},{274,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>553.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{302,306}</string>
                <key>spriteSourceSize</key>
                <string>{304,308}</string>
                <key>textureRect</key>
                <string>{{1437,1081},{302,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>554.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{322,324}</string>
                <key>spriteSourceSize</key>
                <string>{324,324}</string>
                <key>textureRect</key>
                <string>{{767,1467},{322,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>555.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,350}</string>
                <key>spriteSourceSize</key>
                <string>{348,352}</string>
                <key>textureRect</key>
                <string>{{1569,393},{348,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>556.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,376}</string>
                <key>spriteSourceSize</key>
                <string>{372,376}</string>
                <key>textureRect</key>
                <string>{{1191,393},{372,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>557.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{376,378}</string>
                <key>spriteSourceSize</key>
                <string>{376,380}</string>
                <key>textureRect</key>
                <string>{{1,1597},{376,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>558.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,394}</string>
                <key>spriteSourceSize</key>
                <string>{392,396}</string>
                <key>textureRect</key>
                <string>{{1,809},{392,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>559.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,390}</string>
                <key>spriteSourceSize</key>
                <string>{388,392}</string>
                <key>textureRect</key>
                <string>{{1,1205},{388,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>560.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,276}</string>
                <key>spriteSourceSize</key>
                <string>{268,276}</string>
                <key>textureRect</key>
                <string>{{1093,1713},{268,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>561.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{278,286}</string>
                <key>spriteSourceSize</key>
                <string>{280,288}</string>
                <key>textureRect</key>
                <string>{{403,405},{278,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>562.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,296}</string>
                <key>spriteSourceSize</key>
                <string>{288,296}</string>
                <key>textureRect</key>
                <string>{{1405,1411},{288,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>563.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,308}</string>
                <key>spriteSourceSize</key>
                <string>{300,308}</string>
                <key>textureRect</key>
                <string>{{1095,1411},{300,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>564.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{310,320}</string>
                <key>spriteSourceSize</key>
                <string>{312,320}</string>
                <key>textureRect</key>
                <string>{{1115,1099},{310,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>565.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{318,330}</string>
                <key>spriteSourceSize</key>
                <string>{320,332}</string>
                <key>textureRect</key>
                <string>{{1115,767},{318,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>566.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,340}</string>
                <key>spriteSourceSize</key>
                <string>{328,340}</string>
                <key>textureRect</key>
                <string>{{767,1125},{326,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>567.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{334,348}</string>
                <key>spriteSourceSize</key>
                <string>{336,348}</string>
                <key>textureRect</key>
                <string>{{1569,745},{334,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>568.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,356}</string>
                <key>spriteSourceSize</key>
                <string>{340,356}</string>
                <key>textureRect</key>
                <string>{{1573,1},{340,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>569.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{346,364}</string>
                <key>spriteSourceSize</key>
                <string>{348,364}</string>
                <key>textureRect</key>
                <string>{{767,759},{346,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>570.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{350,370}</string>
                <key>spriteSourceSize</key>
                <string>{352,372}</string>
                <key>textureRect</key>
                <string>{{395,1195},{350,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>571.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{358,376}</string>
                <key>spriteSourceSize</key>
                <string>{360,376}</string>
                <key>textureRect</key>
                <string>{{801,399},{358,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>572.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,380}</string>
                <key>spriteSourceSize</key>
                <string>{364,380}</string>
                <key>textureRect</key>
                <string>{{379,1597},{364,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>573.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{370,384}</string>
                <key>spriteSourceSize</key>
                <string>{372,384}</string>
                <key>textureRect</key>
                <string>{{395,809},{370,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>574.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,390}</string>
                <key>spriteSourceSize</key>
                <string>{380,392}</string>
                <key>textureRect</key>
                <string>{{1191,1},{380,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>575.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,396}</string>
                <key>spriteSourceSize</key>
                <string>{388,396}</string>
                <key>textureRect</key>
                <string>{{801,1},{388,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>576.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,400}</string>
                <key>spriteSourceSize</key>
                <string>{396,400}</string>
                <key>textureRect</key>
                <string>{{405,1},{394,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>577.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,402}</string>
                <key>spriteSourceSize</key>
                <string>{400,404}</string>
                <key>textureRect</key>
                <string>{{1,405},{400,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>578.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlastCoin01.png</string>
            <key>size</key>
            <string>{1918,1984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3e381434f77e41fbc05b553a85f9d6a:2aa1bab821b47511a583f44371c148bb:3aabae453a272f1f4399a52ece6328e8$</string>
            <key>textureFileName</key>
            <string>BlastCoin01.png</string>
        </dict>
    </dict>
</plist>
