<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,400}</string>
                <key>spriteSourceSize</key>
                <string>{404,400}</string>
                <key>textureRect</key>
                <string>{{1269,405},{402,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{402,398}</string>
                <key>spriteSourceSize</key>
                <string>{404,400}</string>
                <key>textureRect</key>
                <string>{{461,405},{402,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1,805},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1,1209},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{405,805},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,402}</string>
                <key>spriteSourceSize</key>
                <string>{400,404}</string>
                <key>textureRect</key>
                <string>{{865,1},{400,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,402}</string>
                <key>spriteSourceSize</key>
                <string>{396,404}</string>
                <key>textureRect</key>
                <string>{{865,405},{396,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,402}</string>
                <key>spriteSourceSize</key>
                <string>{396,404}</string>
                <key>textureRect</key>
                <string>{{1617,809},{396,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,402}</string>
                <key>spriteSourceSize</key>
                <string>{400,404}</string>
                <key>textureRect</key>
                <string>{{1267,1},{400,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{402,394}</string>
                <key>spriteSourceSize</key>
                <string>{404,396}</string>
                <key>textureRect</key>
                <string>{{1617,1207},{402,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,400}</string>
                <key>spriteSourceSize</key>
                <string>{404,400}</string>
                <key>textureRect</key>
                <string>{{1213,807},{402,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{405,1209},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{461,1},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{809,805},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{809,1209},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{378,402}</string>
                <key>spriteSourceSize</key>
                <string>{380,404}</string>
                <key>textureRect</key>
                <string>{{1213,1209},{378,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,402}</string>
                <key>spriteSourceSize</key>
                <string>{344,404}</string>
                <key>textureRect</key>
                <string>{{1669,1},{342,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,402}</string>
                <key>spriteSourceSize</key>
                <string>{336,404}</string>
                <key>textureRect</key>
                <string>{{1673,405},{336,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>619.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,402}</string>
                <key>spriteSourceSize</key>
                <string>{332,404}</string>
                <key>textureRect</key>
                <string>{{1213,1589},{330,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{326,402}</string>
                <key>spriteSourceSize</key>
                <string>{328,404}</string>
                <key>textureRect</key>
                <string>{{1617,1603},{326,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,402}</string>
                <key>spriteSourceSize</key>
                <string>{320,404}</string>
                <key>textureRect</key>
                <string>{{1,1613},{320,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>622.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,402}</string>
                <key>spriteSourceSize</key>
                <string>{312,404}</string>
                <key>textureRect</key>
                <string>{{405,1613},{312,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{458,802}</string>
                <key>spriteSourceSize</key>
                <string>{460,804}</string>
                <key>textureRect</key>
                <string>{{1,1},{458,802}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlastCoin03.png</string>
            <key>size</key>
            <string>{2020,1934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1379927ed4bc5563de71e5b469de638:0c7dbf6cdd67b678b0043de01b1f5e40:5adf4dcba8bfef666c58d3d8693afc89$</string>
            <key>textureFileName</key>
            <string>BlastCoin03.png</string>
        </dict>
    </dict>
</plist>
