<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>579.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>580.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1,405},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>581.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1,809},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>582.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1,1213},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>583.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,398}</string>
                <key>spriteSourceSize</key>
                <string>{404,400}</string>
                <key>textureRect</key>
                <string>{{1617,807},{402,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>584.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,388}</string>
                <key>spriteSourceSize</key>
                <string>{404,388}</string>
                <key>textureRect</key>
                <string>{{1213,809},{402,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>585.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{402,378}</string>
                <key>spriteSourceSize</key>
                <string>{404,380}</string>
                <key>textureRect</key>
                <string>{{1617,1207},{402,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>586.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,368}</string>
                <key>spriteSourceSize</key>
                <string>{404,368}</string>
                <key>textureRect</key>
                <string>{{1613,1587},{402,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>587.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,376}</string>
                <key>spriteSourceSize</key>
                <string>{404,376}</string>
                <key>textureRect</key>
                <string>{{1209,1585},{402,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>588.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,384}</string>
                <key>spriteSourceSize</key>
                <string>{404,384}</string>
                <key>textureRect</key>
                <string>{{1213,1199},{402,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>589.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,392}</string>
                <key>spriteSourceSize</key>
                <string>{404,392}</string>
                <key>textureRect</key>
                <string>{{809,809},{402,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>590.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{402,398}</string>
                <key>spriteSourceSize</key>
                <string>{404,400}</string>
                <key>textureRect</key>
                <string>{{809,1207},{402,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>591.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{405,1},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>592.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{809,1},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>593.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1213,1},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>594.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1617,1},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>595.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{405,405},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>596.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{405,809},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>597.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{405,1213},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>598.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,402}</string>
                <key>spriteSourceSize</key>
                <string>{400,404}</string>
                <key>textureRect</key>
                <string>{{1617,405},{400,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>599.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{809,405},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>600.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{1213,405},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BlastCoin02.png</string>
            <key>size</key>
            <string>{2020,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8089b30a02d9512a579a140c4198483:24cf23bacd69b1f03a7bc49658b2c5f9:4afdaa0cf2bf9ddf9fc10243fa957b8a$</string>
            <key>textureFileName</key>
            <string>BlastCoin02.png</string>
        </dict>
    </dict>
</plist>
