<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>269.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{353,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>270.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{697,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>271.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1041,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>272.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{340,350}</string>
                <key>spriteSourceSize</key>
                <string>{344,352}</string>
                <key>textureRect</key>
                <string>{{1,1},{340,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>273.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1385,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>274.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,343},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>275.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{345,345},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>276.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{689,345},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>277.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1033,345},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>278.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1377,345},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>279.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,350}</string>
                <key>spriteSourceSize</key>
                <string>{344,352}</string>
                <key>textureRect</key>
                <string>{{345,689},{342,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,687},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>281.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{697,689},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>282.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1041,689},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>283.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1385,689},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>284.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,1031},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>285.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{345,1033},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>286.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,346}</string>
                <key>spriteSourceSize</key>
                <string>{344,348}</string>
                <key>textureRect</key>
                <string>{{689,1033},{342,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1037,1033},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>288.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1381,1033},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>289.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,1375},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{345,1377},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>291.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,348}</string>
                <key>spriteSourceSize</key>
                <string>{344,348}</string>
                <key>textureRect</key>
                <string>{{689,1377},{342,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>292.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,344}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1039,1377},{342,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>293.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1385,1377},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LightningSphere02.png</string>
            <key>size</key>
            <string>{1728,1720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:135a98e6924bd903a2593455a9dd1a55:6762467d8eec43266550138dc46abbb2:500db450c3648af81841db3bb19cb81b$</string>
            <key>textureFileName</key>
            <string>LightningSphere02.png</string>
        </dict>
    </dict>
</plist>
