<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1177.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,142}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{155,917},{146,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1178.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{309,1},{152,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1179.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{152,148}</string>
                <key>textureRect</key>
                <string>{{309,613},{152,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1181.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{155,771},{146,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{155,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1183.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{152,148}</string>
                <key>textureRect</key>
                <string>{{309,463},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1184.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{309,155},{152,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1185.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,155},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{309,309},{152,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1187.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{303,917},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{155,155},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,309},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{155,309},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,463},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{155,463},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{309,767},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{1,767},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1195.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{152,152}</string>
                <key>textureRect</key>
                <string>{{155,617},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1196.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{152,148}</string>
                <key>textureRect</key>
                <string>{{1,617},{152,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Lightinghit.png</string>
            <key>size</key>
            <string>{460,1060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6020057baf6ffa1e286a01b84f09671b:feaa7cc9b31eb0e1725eb20964dfbcdc:3ef5b03857b7a96f3c0c5241de5d9802$</string>
            <key>textureFileName</key>
            <string>Lightinghit.png</string>
        </dict>
    </dict>
</plist>
