<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,606}</string>
                <key>spriteSourceSize</key>
                <string>{64,608}</string>
                <key>textureRect</key>
                <string>{{1609,611},{62,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,606}</string>
                <key>spriteSourceSize</key>
                <string>{60,608}</string>
                <key>textureRect</key>
                <string>{{1943,1},{60,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,606}</string>
                <key>spriteSourceSize</key>
                <string>{64,608}</string>
                <key>textureRect</key>
                <string>{{1883,611},{64,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1457,1265},{64,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,608}</string>
                <key>spriteSourceSize</key>
                <string>{72,608}</string>
                <key>textureRect</key>
                <string>{{1729,1},{70,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,606}</string>
                <key>spriteSourceSize</key>
                <string>{64,608}</string>
                <key>textureRect</key>
                <string>{{1795,1219},{64,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{66,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1523,1219},{66,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1591,1219},{66,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1539,611},{68,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,608}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1873,1},{68,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,608}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1399,655},{66,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,606}</string>
                <key>spriteSourceSize</key>
                <string>{72,608}</string>
                <key>textureRect</key>
                <string>{{1385,1265},{70,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{539,1309},{80,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,606}</string>
                <key>spriteSourceSize</key>
                <string>{76,608}</string>
                <key>textureRect</key>
                <string>{{1497,1},{76,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{865,655},{76,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{631,1},{80,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,652}</string>
                <key>spriteSourceSize</key>
                <string>{72,652}</string>
                <key>textureRect</key>
                <string>{{1189,1},{72,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,652}</string>
                <key>spriteSourceSize</key>
                <string>{84,652}</string>
                <key>textureRect</key>
                <string>{{377,1},{84,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,652}</string>
                <key>spriteSourceSize</key>
                <string>{84,652}</string>
                <key>textureRect</key>
                <string>{{463,1},{82,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,652}</string>
                <key>spriteSourceSize</key>
                <string>{92,652}</string>
                <key>textureRect</key>
                <string>{{97,1309},{90,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,652}</string>
                <key>spriteSourceSize</key>
                <string>{72,652}</string>
                <key>textureRect</key>
                <string>{{1173,655},{72,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{705,655},{78,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{623,655},{80,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{621,1309},{80,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,652}</string>
                <key>spriteSourceSize</key>
                <string>{84,652}</string>
                <key>textureRect</key>
                <string>{{455,655},{82,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,652}</string>
                <key>spriteSourceSize</key>
                <string>{84,652}</string>
                <key>textureRect</key>
                <string>{{455,1309},{82,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,652}</string>
                <key>spriteSourceSize</key>
                <string>{68,652}</string>
                <key>textureRect</key>
                <string>{{1317,1309},{66,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{90,652}</string>
                <key>spriteSourceSize</key>
                <string>{92,652}</string>
                <key>textureRect</key>
                <string>{{189,1309},{90,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{703,1309},{80,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,652}</string>
                <key>spriteSourceSize</key>
                <string>{104,652}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{785,655},{78,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{713,1},{80,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,652}</string>
                <key>spriteSourceSize</key>
                <string>{72,652}</string>
                <key>textureRect</key>
                <string>{{1173,1309},{72,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{795,1},{80,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{865,1309},{76,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{1021,655},{74,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,652}</string>
                <key>spriteSourceSize</key>
                <string>{68,652}</string>
                <key>textureRect</key>
                <string>{{1247,1309},{68,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,652}</string>
                <key>spriteSourceSize</key>
                <string>{72,652}</string>
                <key>textureRect</key>
                <string>{{1337,1},{70,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{1021,1309},{74,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,652}</string>
                <key>spriteSourceSize</key>
                <string>{88,652}</string>
                <key>textureRect</key>
                <string>{{201,1},{86,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,652}</string>
                <key>spriteSourceSize</key>
                <string>{88,652}</string>
                <key>textureRect</key>
                <string>{{289,1},{86,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,652}</string>
                <key>spriteSourceSize</key>
                <string>{88,652}</string>
                <key>textureRect</key>
                <string>{{281,655},{86,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{957,1},{76,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1229.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{1113,1},{74,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{943,655},{76,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,652}</string>
                <key>spriteSourceSize</key>
                <string>{92,652}</string>
                <key>textureRect</key>
                <string>{{97,655},{92,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{74,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{1097,655},{74,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1233.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{943,1309},{76,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{785,1309},{78,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,652}</string>
                <key>spriteSourceSize</key>
                <string>{84,652}</string>
                <key>textureRect</key>
                <string>{{369,655},{84,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1236.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{1097,1309},{74,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1237.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,652}</string>
                <key>spriteSourceSize</key>
                <string>{96,652}</string>
                <key>textureRect</key>
                <string>{{1,655},{94,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1238.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,652}</string>
                <key>spriteSourceSize</key>
                <string>{88,652}</string>
                <key>textureRect</key>
                <string>{{191,655},{88,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1239.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,652}</string>
                <key>spriteSourceSize</key>
                <string>{84,652}</string>
                <key>textureRect</key>
                <string>{{369,1309},{84,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,652}</string>
                <key>spriteSourceSize</key>
                <string>{72,652}</string>
                <key>textureRect</key>
                <string>{{1263,1},{72,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,652}</string>
                <key>spriteSourceSize</key>
                <string>{84,652}</string>
                <key>textureRect</key>
                <string>{{547,1},{82,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{94,652}</string>
                <key>spriteSourceSize</key>
                <string>{96,652}</string>
                <key>textureRect</key>
                <string>{{105,1},{94,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{94,652}</string>
                <key>spriteSourceSize</key>
                <string>{96,652}</string>
                <key>textureRect</key>
                <string>{{1,1309},{94,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,652}</string>
                <key>spriteSourceSize</key>
                <string>{88,652}</string>
                <key>textureRect</key>
                <string>{{281,1309},{86,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,652}</string>
                <key>spriteSourceSize</key>
                <string>{80,652}</string>
                <key>textureRect</key>
                <string>{{877,1},{78,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,652}</string>
                <key>spriteSourceSize</key>
                <string>{76,652}</string>
                <key>textureRect</key>
                <string>{{1035,1},{76,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1247.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,652}</string>
                <key>spriteSourceSize</key>
                <string>{84,652}</string>
                <key>textureRect</key>
                <string>{{539,655},{82,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,652}</string>
                <key>spriteSourceSize</key>
                <string>{72,652}</string>
                <key>textureRect</key>
                <string>{{1247,655},{72,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{86,606}</string>
                <key>spriteSourceSize</key>
                <string>{88,608}</string>
                <key>textureRect</key>
                <string>{{1409,1},{86,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,606}</string>
                <key>spriteSourceSize</key>
                <string>{56,608}</string>
                <key>textureRect</key>
                <string>{{1,1963},{56,606}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,606}</string>
                <key>spriteSourceSize</key>
                <string>{56,608}</string>
                <key>textureRect</key>
                <string>{{609,1963},{56,606}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{66,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1659,1219},{66,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,606}</string>
                <key>spriteSourceSize</key>
                <string>{64,608}</string>
                <key>textureRect</key>
                <string>{{1927,1219},{62,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,606}</string>
                <key>spriteSourceSize</key>
                <string>{64,608}</string>
                <key>textureRect</key>
                <string>{{1861,1219},{64,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1673,611},{68,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1743,611},{68,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,608}</string>
                <key>spriteSourceSize</key>
                <string>{76,608}</string>
                <key>textureRect</key>
                <string>{{1321,655},{76,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{66,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1727,1219},{66,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{70,606}</string>
                <key>spriteSourceSize</key>
                <string>{72,608}</string>
                <key>textureRect</key>
                <string>{{1467,609},{70,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,606}</string>
                <key>spriteSourceSize</key>
                <string>{64,608}</string>
                <key>textureRect</key>
                <string>{{1385,1873},{64,606}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,608}</string>
                <key>spriteSourceSize</key>
                <string>{72,608}</string>
                <key>textureRect</key>
                <string>{{1801,1},{70,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,606}</string>
                <key>spriteSourceSize</key>
                <string>{56,608}</string>
                <key>textureRect</key>
                <string>{{1217,1963},{56,606}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,606}</string>
                <key>spriteSourceSize</key>
                <string>{68,608}</string>
                <key>textureRect</key>
                <string>{{1813,611},{68,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,608}</string>
                <key>spriteSourceSize</key>
                <string>{76,608}</string>
                <key>textureRect</key>
                <string>{{1575,1},{76,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{74,606}</string>
                <key>spriteSourceSize</key>
                <string>{76,608}</string>
                <key>textureRect</key>
                <string>{{1653,1},{74,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LightningChain.png</string>
            <key>size</key>
            <string>{2004,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:953a77c256174155aea72d0db8080509:227537712a3db20588f4dc8bdabd0681:11a949f7d2c67cce318caa4cc7c8020e$</string>
            <key>textureFileName</key>
            <string>LightningChain.png</string>
        </dict>
    </dict>
</plist>
