<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>244.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{347,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>245.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{691,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>246.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1035,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>247.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1379,1},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>248.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,343},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>249.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{345,345},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{689,345},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>251.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1033,345},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1377,345},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>253.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,687},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>254.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,342}</string>
                <key>spriteSourceSize</key>
                <string>{348,344}</string>
                <key>textureRect</key>
                <string>{{345,689},{348,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>255.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{695,689},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1039,689},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>257.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,344}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{345,1033},{342,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>258.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1383,689},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>259.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,1031},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{691,1033},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>261.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,344}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1035,1033},{342,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>262.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1381,1033},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>263.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1,1375},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{345,1377},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>265.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{689,1377},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,344}</string>
                <key>spriteSourceSize</key>
                <string>{344,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{340,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>267.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,342}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{1033,1377},{342,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>268.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,348}</string>
                <key>spriteSourceSize</key>
                <string>{344,348}</string>
                <key>textureRect</key>
                <string>{{1377,1377},{342,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LightningSphere01.png</string>
            <key>size</key>
            <string>{1726,1720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d13027ba36180eeb7fc9df74f2429fd6:639b1627f6a9a1d38d59d6ea7a88312e:fe30b1beb4355d269df9a83fd7f92ef6$</string>
            <key>textureFileName</key>
            <string>LightningSphere01.png</string>
        </dict>
    </dict>
</plist>
