<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_ui_chip_bg_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{145,1},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{289,1},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{1,134},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{145,134},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{289,134},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{1,267},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{145,267},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{289,267},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{1,400},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{145,400},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{289,400},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{1,533},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{145,533},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p_ui_chip_bg_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,131}</string>
                <key>spriteSourceSize</key>
                <string>{142,131}</string>
                <key>textureRect</key>
                <string>{{289,533},{142,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>p_ui_chip.png</string>
            <key>size</key>
            <string>{432,665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:374855d12190da094fe78d3d0003a075:beb35f705fc14c99ba3ba7366db53e4e:0516cf473b20dc61cd2fc6f8030ed374$</string>
            <key>textureFileName</key>
            <string>p_ui_chip.png</string>
        </dict>
    </dict>
</plist>
