<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13_mantaray_D_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,236}</string>
                <key>spriteSourceSize</key>
                <string>{220,236}</string>
                <key>textureRect</key>
                <string>{{395,847},{218,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_D_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,238}</string>
                <key>spriteSourceSize</key>
                <string>{112,240}</string>
                <key>textureRect</key>
                <string>{{1455,999},{110,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_mantaray_D_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,240}</string>
                <key>spriteSourceSize</key>
                <string>{112,240}</string>
                <key>textureRect</key>
                <string>{{1145,381},{112,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_D_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,238}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{1,863},{214,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_D_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,236}</string>
                <key>spriteSourceSize</key>
                <string>{172,236}</string>
                <key>textureRect</key>
                <string>{{971,385},{172,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_D_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{228,236}</string>
                <key>textureRect</key>
                <string>{{789,845},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,236}</string>
                <key>spriteSourceSize</key>
                <string>{216,236}</string>
                <key>textureRect</key>
                <string>{{979,623},{216,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_mantaray_N_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,236}</string>
                <key>spriteSourceSize</key>
                <string>{224,236}</string>
                <key>textureRect</key>
                <string>{{1017,841},{224,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,236}</string>
                <key>spriteSourceSize</key>
                <string>{228,236}</string>
                <key>textureRect</key>
                <string>{{741,385},{228,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,236}</string>
                <key>spriteSourceSize</key>
                <string>{212,236}</string>
                <key>textureRect</key>
                <string>{{1243,841},{210,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,236}</string>
                <key>spriteSourceSize</key>
                <string>{172,236}</string>
                <key>textureRect</key>
                <string>{{1717,385},{172,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,236}</string>
                <key>spriteSourceSize</key>
                <string>{136,236}</string>
                <key>textureRect</key>
                <string>{{1813,623},{134,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,236}</string>
                <key>spriteSourceSize</key>
                <string>{120,236}</string>
                <key>textureRect</key>
                <string>{{1695,987},{120,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_mantaray_N_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,236}</string>
                <key>spriteSourceSize</key>
                <string>{124,236}</string>
                <key>textureRect</key>
                <string>{{1693,861},{124,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_mantaray_N_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{136,236}</string>
                <key>textureRect</key>
                <string>{{1455,861},{136,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_mantaray_N_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,236}</string>
                <key>spriteSourceSize</key>
                <string>{164,236}</string>
                <key>textureRect</key>
                <string>{{1649,623},{162,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,236}</string>
                <key>spriteSourceSize</key>
                <string>{192,236}</string>
                <key>textureRect</key>
                <string>{{1455,623},{192,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,236}</string>
                <key>spriteSourceSize</key>
                <string>{216,236}</string>
                <key>textureRect</key>
                <string>{{1217,623},{216,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_mantaray_N_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,236}</string>
                <key>spriteSourceSize</key>
                <string>{228,236}</string>
                <key>textureRect</key>
                <string>{{1259,385},{228,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{228,236}</string>
                <key>textureRect</key>
                <string>{{1489,385},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_mantaray_N_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,236}</string>
                <key>spriteSourceSize</key>
                <string>{220,236}</string>
                <key>textureRect</key>
                <string>{{741,623},{220,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_D_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,272}</string>
                <key>spriteSourceSize</key>
                <string>{172,272}</string>
                <key>textureRect</key>
                <string>{{389,573},{172,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_D_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,280}</string>
                <key>spriteSourceSize</key>
                <string>{176,280}</string>
                <key>textureRect</key>
                <string>{{1589,207},{176,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_D_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,272}</string>
                <key>spriteSourceSize</key>
                <string>{176,272}</string>
                <key>textureRect</key>
                <string>{{563,571},{176,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_D_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,252}</string>
                <key>spriteSourceSize</key>
                <string>{176,252}</string>
                <key>textureRect</key>
                <string>{{217,859},{176,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_D_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,284}</string>
                <key>spriteSourceSize</key>
                <string>{176,284}</string>
                <key>textureRect</key>
                <string>{{1017,203},{176,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_D_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,272}</string>
                <key>spriteSourceSize</key>
                <string>{172,272}</string>
                <key>textureRect</key>
                <string>{{615,845},{172,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_N_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,284}</string>
                <key>spriteSourceSize</key>
                <string>{180,284}</string>
                <key>textureRect</key>
                <string>{{731,203},{180,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_N_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,288}</string>
                <key>spriteSourceSize</key>
                <string>{188,288}</string>
                <key>textureRect</key>
                <string>{{441,199},{188,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_N_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,288}</string>
                <key>spriteSourceSize</key>
                <string>{196,288}</string>
                <key>textureRect</key>
                <string>{{441,1},{196,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_N_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,284}</string>
                <key>spriteSourceSize</key>
                <string>{200,284}</string>
                <key>textureRect</key>
                <string>{{731,1},{200,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_N_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,284}</string>
                <key>spriteSourceSize</key>
                <string>{204,284}</string>
                <key>textureRect</key>
                <string>{{223,287},{204,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_N_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,280}</string>
                <key>spriteSourceSize</key>
                <string>{204,280}</string>
                <key>textureRect</key>
                <string>{{1303,1},{204,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_N_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,280}</string>
                <key>spriteSourceSize</key>
                <string>{204,280}</string>
                <key>textureRect</key>
                <string>{{1585,1},{204,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_N_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,284}</string>
                <key>spriteSourceSize</key>
                <string>{216,284}</string>
                <key>textureRect</key>
                <string>{{223,1},{216,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_N_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,284}</string>
                <key>spriteSourceSize</key>
                <string>{220,284}</string>
                <key>textureRect</key>
                <string>{{1,291},{220,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_N_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,288}</string>
                <key>spriteSourceSize</key>
                <string>{220,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_N_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,284}</string>
                <key>spriteSourceSize</key>
                <string>{212,284}</string>
                <key>textureRect</key>
                <string>{{1,577},{212,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_N_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,284}</string>
                <key>spriteSourceSize</key>
                <string>{200,284}</string>
                <key>textureRect</key>
                <string>{{1017,1},{200,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_N_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,280}</string>
                <key>spriteSourceSize</key>
                <string>{180,280}</string>
                <key>textureRect</key>
                <string>{{429,389},{180,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14_Big_Nemo_N_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,280}</string>
                <key>spriteSourceSize</key>
                <string>{172,280}</string>
                <key>textureRect</key>
                <string>{{215,577},{172,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_Big_Nemo_N_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,284}</string>
                <key>spriteSourceSize</key>
                <string>{176,284}</string>
                <key>textureRect</key>
                <string>{{1303,207},{176,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>midfishes.png</string>
            <key>size</key>
            <string>{1948,1118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05bcbc7645f64a3c120eb238df8da552:c6c57d73b673a6d4e6264cfb309d3eb0:8f8dc7048dbf974345e6096b2f4f467b$</string>
            <key>textureFileName</key>
            <string>midfishes.png</string>
        </dict>
    </dict>
</plist>
