<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,933},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>chang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,897},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>chang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,985},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>chang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,946},{281,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,37}}</string>
                <key>sourceSize</key>
                <string>{281,37}</string>
            </dict>
            <key>chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,887},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>copyname.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,872},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{486,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,246}}</string>
                <key>sourceSize</key>
                <string>{486,246}</string>
            </dict>
            <key>game_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,281},{197,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,56}}</string>
                <key>sourceSize</key>
                <string>{197,56}</string>
            </dict>
            <key>golddifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{164,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,41}}</string>
                <key>sourceSize</key>
                <string>{164,41}</string>
            </dict>
            <key>huase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,277}}</string>
                <key>sourceSize</key>
                <string>{544,277}</string>
            </dict>
            <key>intlimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{105,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>jinbinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,945},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{288,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,460}}</string>
                <key>sourceSize</key>
                <string>{288,460}</string>
            </dict>
            <key>level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,582},{288,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,460}}</string>
                <key>sourceSize</key>
                <string>{288,460}</string>
            </dict>
            <key>level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,292},{288,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,460}}</string>
                <key>sourceSize</key>
                <string>{288,460}</string>
            </dict>
            <key>level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{288,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,460}}</string>
                <key>sourceSize</key>
                <string>{288,460}</string>
            </dict>
            <key>namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,897},{253,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,46}}</string>
                <key>sourceSize</key>
                <string>{253,46}</string>
            </dict>
            <key>nameguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,945},{312,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{312,76}}</string>
                <key>sourceSize</key>
                <string>{332,76}</string>
            </dict>
            <key>p_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,823},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>qznn_loading_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,819},{357,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,74}}</string>
                <key>sourceSize</key>
                <string>{357,74}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,895},{58,49}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{58,49}}</string>
                <key>sourceSize</key>
                <string>{136,67}</string>
            </dict>
            <key>sp_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,819},{66,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>sp_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,480},{341,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,53}}</string>
                <key>sourceSize</key>
                <string>{341,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NNRoom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aea1c3625b5d4f4ea8d9aac573a3d8b$</string>
            <key>textureFileName</key>
            <string>NNRoom.png</string>
        </dict>
    </dict>
</plist>
