<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,731},{251,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,236}}</string>
                <key>sourceSize</key>
                <string>{251,236}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,415},{258,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,190}}</string>
                <key>sourceSize</key>
                <string>{258,190}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,114},{191,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,241}}</string>
                <key>sourceSize</key>
                <string>{191,241}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{264,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,252}}</string>
                <key>sourceSize</key>
                <string>{264,252}</string>
            </dict>
            <key>chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,949},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>copyname.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,949},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>game_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,357},{197,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,56}}</string>
                <key>sourceSize</key>
                <string>{197,56}</string>
            </dict>
            <key>namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,683},{253,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,46}}</string>
                <key>sourceSize</key>
                <string>{253,46}</string>
            </dict>
            <key>nameguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{312,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{312,76}}</string>
                <key>sourceSize</key>
                <string>{332,76}</string>
            </dict>
            <key>new_saver_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,44},{58,49}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{58,49}}</string>
                <key>sourceSize</key>
                <string>{136,67}</string>
            </dict>
            <key>sp_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{66,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>sp_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,53}}</string>
                <key>sourceSize</key>
                <string>{341,53}</string>
            </dict>
            <key>tag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{305,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,71}}</string>
                <key>sourceSize</key>
                <string>{305,71}</string>
            </dict>
            <key>tag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{303,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{303,71}}</string>
                <key>sourceSize</key>
                <string>{305,71}</string>
            </dict>
            <key>tag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{303,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{303,71}}</string>
                <key>sourceSize</key>
                <string>{305,71}</string>
            </dict>
            <key>tag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{305,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,71}}</string>
                <key>sourceSize</key>
                <string>{305,71}</string>
            </dict>
            <key>top01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{286,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,62}}</string>
                <key>sourceSize</key>
                <string>{286,62}</string>
            </dict>
            <key>top02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{286,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,62}}</string>
                <key>sourceSize</key>
                <string>{286,62}</string>
            </dict>
            <key>top03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{286,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,62}}</string>
                <key>sourceSize</key>
                <string>{286,62}</string>
            </dict>
            <key>top04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{286,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,62}}</string>
                <key>sourceSize</key>
                <string>{286,62}</string>
            </dict>
            <key>txt_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,57},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>txt_jbdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{155,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,40}}</string>
                <key>sourceSize</key>
                <string>{155,40}</string>
            </dict>
            <key>txt_least.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,44},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Untitledpl.png</string>
            <key>size</key>
            <string>{511,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8ff8a50f5d7ad27b954d9e44073789:1/1$</string>
            <key>textureFileName</key>
            <string>Untitledpl.png</string>
        </dict>
    </dict>
</plist>
