<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,680},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,366},{124,190}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,290},{124,190}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,416},{124,188}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{124,188}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,542},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,174},{124,190}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,164},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{136,186}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{124,188}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{124,188}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>b_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{124,190}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>card_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,788},{46,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>card_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,957},{24,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,680},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,654},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,622},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,712},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,680},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,32},{28,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,900},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,957},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,900},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,957},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,146},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_color_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,632},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>card_color_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,702},{70,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>card_color_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,774},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>card_color_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,558},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>card_color_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,957},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>card_color_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,782},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>card_color_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,745},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>card_color_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,708},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>card_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,740},{46,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>card_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,686},{24,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,590},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,558},{30,53}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,118},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,90},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{28,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,900},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,836},{26,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>card_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,62},{26,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0814aba95842fbc0e2411c59efdb247a$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
