<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bianhuayanwu/bianhuayanwu0001.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bianhuayanwu/bianhuayanwu0002.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>211</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bianhuayanwu/bianhuayanwu0003.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>422</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bianhuayanwu/bianhuayanwu0004.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bianhuayanwu/bianhuayanwu0005.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bianhuayanwu/bianhuayanwu0006.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>211</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bianhuayanwu/bianhuayanwu0007.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>422</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bianhuayanwu/bianhuayanwu0008.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jianjiaojiputongzhuangtia.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>844</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beizhuazhuzhuantai/jianjiaoji20001.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beizhuazhuzhuantai/jianjiaoji20006.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beizhuazhuzhuantai/jianjiaoji20002.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beizhuazhuzhuantai/jianjiaoji20003.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beizhuazhuzhuantai/jianjiaoji20004.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beizhuazhuzhuantai/jianjiaoji20005.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>123</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jianjiaoji_mofabiaoqing0.png</string>
			<key>realTextureFileName</key>
			<string>jianjiaoji_mofabiaoqing0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>